# Nx
.nx/

# Dependencies & build
node_modules/
dist/
apps/web/node_modules/
apps/web/dist/
apps/web/.angular/
apps/web/.env
apps/api/dist/
libs/contracts/dist/
apps/api/.env

# OS / IDE
.DS_Store
Thumbs.db
*.log
.idea/
.vscode/*
!apps/web/.vscode/extensions.json
!apps/web/.vscode/launch.json
!apps/web/.vscode/tasks.json
